In [2]:
#classification
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv('diabetes_dataset (1).csv')

In [3]:
data.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,...,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,Female,White,35.8,83.4,123.9,10.9,152,114,...,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,...,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,...,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,...,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,...,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score, classification_report

In [5]:
data

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,...,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,Female,White,35.8,83.4,123.9,10.9,152,114,...,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,...,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,...,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,...,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,...,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,45,Female,Asian,39.4,114.0,76.2,13.4,109,82,...,60.3,88.7,19.1,6.1,Low,3582,NaN,Former,1,1
9996,9996,41,Female,Asian,21.0,71.3,77.1,12.9,154,72,...,72.3,200.0,37.1,3.5,Low,2206,NaN,Never,1,1
9997,9997,50,Female,Asian,29.0,106.3,97.5,4.9,122,61,...,69.8,156.1,85.8,4.9,High,3175,Heavy,Former,1,1
9998,9998,62,Female,White,27.3,119.9,89.0,11.5,99,115,...,74.2,110.9,25.3,5.2,High,3478,Moderate,Never,1,0
9999,9999,29,Male,Black,20.6,102.0,70.8,14.5,156,64,...,38.0,108.1,68.5,6.0,Low,2918,Heavy,Former,1,0

In [6]:
print(data.columns)

Index(['Unnamed: 0', 'Age', 'Sex', 'Ethnicity', 'BMI', 'Waist_Circumference',
       'Fasting_Blood_Glucose', 'HbA1c', 'Blood_Pressure_Systolic',
       'Blood_Pressure_Diastolic', 'Cholesterol_Total', 'Cholesterol_HDL',
       'Cholesterol_LDL', 'GGT', 'Serum_Urate', 'Physical_Activity_Level',
       'Dietary_Intake_Calories', 'Alcohol_Consumption', 'Smoking_Status',
       'Family_History_of_Diabetes', 'Previous_Gestational_Diabetes'],
      dtype='object')

In [86]:
data.head()

,Unnamed: 0,Age,Sex,Ethnicity,BMI,Waist_Circumference,Fasting_Blood_Glucose,HbA1c,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,...,Cholesterol_HDL,Cholesterol_LDL,GGT,Serum_Urate,Physical_Activity_Level,Dietary_Intake_Calories,Alcohol_Consumption,Smoking_Status,Family_History_of_Diabetes,Previous_Gestational_Diabetes
0,0,58,Female,White,35.8,83.4,123.9,10.9,152,114,...,50.2,99.2,37.5,7.2,Moderate,1538,Moderate,Never,0,1
1,1,48,Male,Asian,24.1,71.4,183.7,12.8,103,91,...,62.0,146.4,88.5,6.1,Moderate,2653,Moderate,Current,0,1
2,2,34,Female,Black,25.0,113.8,142.0,14.5,179,104,...,32.1,164.1,56.2,6.9,Low,1684,Heavy,Former,1,0
3,3,62,Male,Asian,32.7,100.4,167.4,8.8,176,118,...,41.1,84.0,34.4,5.4,Low,3796,Moderate,Never,1,0
4,4,27,Female,Asian,33.5,110.8,146.4,7.1,122,97,...,53.9,92.8,81.9,7.4,Moderate,3161,Heavy,Current,0,0

In [90]:
X = data[['BMI','Waist_Circumference']]
X

       BMI  Waist_Circumference
0     35.8                 83.4
1     24.1                 71.4
2     25.0                113.8
3     32.7                100.4
4     33.5                110.8
...    ...                  ...
9995  39.4                114.0
9996  21.0                 71.3
9997  29.0                106.3
9998  27.3                119.9
9999  20.6                102.0

[10000 rows x 2 columns]

In [91]:
y = data['Previous_Gestational_Diabetes']
y

0       1
1       1
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    1
9998    0
9999    0
Name: Previous_Gestational_Diabetes, Length: 10000, dtype: int64

In [114]:
y = y.values.reshape(-1, 1) if isinstance(y, pd.Series) else y
y

array([[1],
       [1],
       [0],
       ...,
       [1],
       [0],
       [0]], dtype=int64)

In [115]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

In [126]:
def costFunction(theta, X, y):
    m = y.shape[0]
    theta = theta.reshape(-1, 1)  # Ensure theta is column vector
    y = y.values.reshape(-1, 1) if isinstance(y, pd.Series) else y
    X = X.values if isinstance(X, pd.DataFrame) else X

    h = sigmoid(X @ theta)

    j = (-1/m) * (y.T @ np.log(h) + (1 - y).T @ np.log(1 - h))
    j = j.item()  # Extract scalar

    if np.isnan(j):
        return np.inf
    return j

In [135]:
def gradient(theta, X, y):
    m = np.size(y)
    hprime=X.dot (theta)
    h = sigmoid (hprime)
    
    grad = (-1/m)*X.T.dot(h-y)

    return grad.values.flatten()

In [136]:
initial_theta = np.zeros((X.shape[1],1))
cost = costFunction(initial_theta, X, y)
grad = gradient(initial_theta, X, y)
print('Cost: \n', cost)
print('Grad: \n', grad)

Cost:
 0.693147180559946
Grad:
 [0.481915 1.455135]

In [137]:
def gradientDescent(X, y, theta=None, alpha=0.01, num_iters=50):
    if theta is None:
        theta = np.zeros((X.shape[1], 1))  # Automatically match number of features

    m = len(y)
    j_history = np.zeros(num_iters)

    for i in range(num_iters):
        h = sigmoid(X.dot(theta))
        gradient = (1 / m) * X.T.dot(h - y)
        theta = theta - alpha * gradient
        j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))

    return theta, j_history

In [138]:
theta, j_history = gradientDescent(X, y)

C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))

C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))
C:\j\Lib\site-packages\pandas\core\internals\blocks.py:329: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
C:\Users\HP\AppData\Local\Temp\ipykernel_20944\2007645294.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  j_history[i] = float((-1 / m) * np.sum(y * np.log(h) + (1 - y) * np.log(1 - h)))

In [131]:
def predict_class(user_input, theta):
    if user_input.ndim == 1:
        user_input = user_input.reshape(1, -1)

    prediction = sigmoid(user_input.dot(theta))
    return int((prediction >= 0.5)[0][0])

In [132]:
mon_input = np.array([45, 190])  # Ã¢ge, frÃ©quence cardiaque max
rÃ©sultat = predict_class(mon_input, theta)
print("PrÃ©diction :", rÃ©sultat)

PrÃ©diction : 0

In [133]:
mon_input = np.array([70, 50])  
rÃ©sultat = predict_class(mon_input, theta)
print("PrÃ©diction :", rÃ©sultat)

PrÃ©diction : 0

In [134]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

pd.set_option('display.max_colwidth', None)

print(data_array)

[[0 58 'Female' ... 'Never' 0 1]
 [1 48 'Male' ... 'Current' 0 1]
 [2 34 'Female' ... 'Former' 1 0]
 ...
 [9997 50 'Female' ... 'Former' 1 1]
 [9998 62 'Female' ... 'Never' 1 0]
 [9999 29 'Male' ... 'Former' 1 0]]